<center> ML 심화 과제 제출_18기_수학과_신혜연 </center>

## ML 과제

과제할 때 꿀팁!

1. 이전 세션들에서의 자료를 찾아본다.
2. 질문방에 질문한다.
3. 구글링한다.
4. 복붙하지 않고 직접 타이핑해서 코드를 완성한다.

In [61]:
import pandas as pd
import numpy as np
import math
import warnings
warnings.filterwarnings(action='ignore')

### 0. Titanic 데이터 로드 및 훓어보기

In [62]:
# 여러분이 이전 과제로 만드셨을 FE를 진행한 데이터 보다는 원본 데이터가 조금 더 이번 실습에 적합하기 때문에 원본을 사용하겠습니다.
# 데이터를 로드하고, 잘 불러와진 것인지 첫 5행을 불러와 확인해보세요.
titanic = pd.read_csv('titanic.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [63]:
# 변수들의 데이터 타입, 결측치, target의 imbalance 여부를 확인해주세요.
print("데이터 타입")
print(titanic.dtypes)
print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")

print("결측치")
print(titanic.isnull().sum())
print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")

print("imbalance 여부")
print(titanic['Survived'].value_counts() / len(titanic))

데이터 타입
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
결측치
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
imbalance 여부
0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [64]:
# 편의상 결측치 데이터 및 승객 고유의 데이터('PassengerId','Name', 'Ticket', 'Cabin')는 모두 drop 시킵시다.
# 실제 프로젝트에서는 이렇게 하시면 성능이 낮을 수 있어요!!
titanic.dropna(inplace=True)
titanic.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [65]:
# categorical feature(Sex, Embarked)에 대해 LabelEncoding을 진행해 주세요.
# 전처리 완료된 DataFrame을 첫 5행을 불러와 확인해보세요
temp = pd.get_dummies(titanic)
titanic = temp
titanic.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
1,1,1,38.0,1,0,71.2833,1,0,1,0,0
3,1,1,35.0,1,0,53.1000,1,0,0,0,1
6,0,1,54.0,0,0,51.8625,0,1,0,0,1
10,1,3,4.0,1,1,16.7000,1,0,0,0,1
11,1,1,58.0,0,0,26.5500,1,0,0,0,1

### 1. Train-Test split & 종속변수-설명변수 분할

In [66]:
# 분할을 위해 필요한 적절한 패키지를 불러와주세요 
# train-test split 및 종속변수-설명변수 분할을 진행해주세요
from sklearn.model_selection import train_test_split

X, y = titanic.iloc[:, 1:], titanic.iloc[:, 0]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

### 2. Decision Tree를 통한 Classification

In [67]:
# Decision Tree에서 categorical feature인 'Pclass'를 기준으로 
# 첫 번째 Node(Root Node)가 분리된다고 가정합시다.
# 이 때 Entropy 지표를 통해 Information Gain을 계산할 수 있는 함수(또는 코드)를 작성하고, Information gain을 계산하세요.
# 실습에서 다루지 않은 내용입니다. 코드가 어려우시다면 줄글로만 풀이과정을 작성해주셔도 됩니다.

# titanic data로 Pclass를 분리기준으로 이용했을 때의 entropy를 계산하는 상황만 고려하시면 됩니다.
# 계산에 사용할 데이터는 분할 이전의 0번에서 전처리 완료한 데이터를 기준으로 하겠습니다!
# 올바르게 계산할 시 Information Gain은 0.0097이 나옵니다.
pclass = titanic['Pclass']
y = titanic['Survived']

ls = y.unique()
val = 0
for l in ls:
    p = len(y[y==l])
    p = p/len(y) 
    val = val +p*math.log(p, 2)
root_entr = -val

p = y.groupby(pclass).sum()
p = p/y.groupby(pclass).count()
child_entropy = []
for x in p.values:
    p = - x*math.log(x, 2) - (1-x)*math.log(1-x, 2)
    child_entropy.append(p)

wei = y.groupby(pclass).count().values
gain = root_entr - sum(wei*child_entropy)/len(y)
print('Information Gain :', gain)

# 다르게 나왔는데, 그 이유를 모르겠다,,
## 같게 수정함

Information Gain : 0.0097623191501931

In [68]:
# Decision Tree 모델을 사용하기 위한 적절한 패키지를 불러와 주세요
# 별 다른 parameter 설정 없이 객체를 만들어 주고, 학습을 진행하세요
## ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

### 3. Graphviz를 통한 시각화

graphviz 설치를 하지 않으셨거나 오류가 난다면 이 부분은 건너뛰셔도 좋습니다

오류로 인해 건너뛰었습니다

In [69]:
from sklearn.tree import export_graphviz

export_graphviz(# [주석 기호를 지운 뒤 할당한 객체 이름을 적어주세요] ,
                out_file=("titanic_hw.dot"),
                feature_names=X_train.columns,
                class_names=['0','1'],
                rounded=True,
                filled=True)

import graphviz
import os

os.environ["PATH"] += os.pathsep + 'C:/graphviz-2.38/release/bin'

with open("titanic_hw.dot") as f:
    dot_graph = f.read()
    display(graphviz.Source(dot_graph))

TypeError: export_graphviz() missing 1 required positional argument: 'decision_tree'

### 4. 결과 확인

In [70]:
# accuracy, f1 score, roc_auc score, confusion matrix, classification report를 모두 불러와주세요
# 불러온 metric(결과 확인 지표)들을 통해 결과를 확인해주세요.

from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

y_pred = model.predict(X_test)

print("Acc: %.2f" % accuracy_score(y_test, y_pred))
print("F1 score: %.2f" % f1_score(y_test, y_pred))
print("ROC-AUC score: %.2f" % roc_auc_score(y_test, y_pred))
print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")
print("confusion matrix")
print(confusion_matrix(y_test, y_pred))
print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")
print("classification report")
print(classification_report(y_test, y_pred))

Acc: 0.71
F1 score: 0.79
ROC-AUC score: 0.68
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
confusion matrix
[[ 8  5]
 [11 31]]
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
classification report
              precision    recall  f1-score   support

           0       0.42      0.62      0.50        13
           1       0.86      0.74      0.79        42

    accuracy                           0.71        55
   macro avg       0.64      0.68      0.65        55
weighted avg       0.76      0.71      0.73        55

### 5. GridSearch를 통한 Tree pruning

In [71]:
# GridSearch를 위한 적절한 패키지를 불러와 주세요
# max_leaf_nodes를 제외한 3가지 이상의 parameter에 대한 GridSearch를 진행해주세요. scoring은 원하시는 지표로 하셔도 됩니다.

from sklearn.model_selection import GridSearchCV

new_model = DecisionTreeClassifier()
param_dict = {"max_depth": range(1, 10, 2), 
              "min_samples_leaf": range(3, 16, 5),
              "min_samples_split": range(3, 16, 5)}
model_grid = GridSearchCV(new_model, param_grid=param_dict, cv=5, scoring='f1')
model_grid.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': range(1, 10, 2),
                         'min_samples_leaf': range(3, 16, 5),
                         'min_samples_split': range(3, 16, 5)},
             scoring='f1')

In [72]:
# 최적 parameter 조합 / Validation score / Test score를 확인해 주세요.
print("model_grid.best_params_")
print(model_grid.best_params_)
print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")
print("model_grid.best_score_")
print(model_grid.best_score_)
print("ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ")
y_pred = model_grid.predict(X_test)
print("F1 score: %.2f" % f1_score(y_test, y_pred))

model_grid.best_params_
{'max_depth': 3, 'min_samples_leaf': 13, 'min_samples_split': 3}
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
model_grid.best_score_
0.7863919761452969
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
F1 score: 0.84

In [73]:
# GridSearch에 사용하신 parameter는 Decision Tree 모델 학습에서 어떤 역할을 하는지 간단하게 요약해주세요.
# ex) criterion은 decision tree의 분류 기준인 불순도 지표를 정한다.
# hint) Shift+tab

GridSearch에 사용한 Parameter : max_depth, min_samples_leaf, min_samples_split


1) max_depth : tree의 최대 깊이를 지정합니다.


2) min_samples_leaf : 리프노드가 되기 위한 데이터의 최소한의 개수입니다.


3) min_samples_split : 노드를 분할하기 위한 데이터의 최소한의 개수입니다.

> ### <b>고생하셨습니다~</b>

생각보다 GridSearch의 결과가 안 좋게 나와서 이상하다 생각하신 분들도 있을 수 있습니다. GridSearch 특성상 기존에 정해준 parameter 범위 내에서 찾는 것이기 때문에 애초에 적절한 parameter 후보를 찾지 못했다면 성능이 안 좋을 수도 있습니다. 앞으로 여러 프로젝트 진행해보시면서, parameter 찾는 것에 대한 감도 스스로 익혀보시면 좋을 것 같습니다!